[submodule "infrastructure/terraform/modules/functions/fastapi-on-azure-functions"]
	path = infrastructure/terraform/modules/functions/fastapi-on-azure-functions
	url = https://github.com/Azure-Samples/fastapi-on-azure-functions.git
[submodule "infrastructure/terraform/modules/functions/rag-video-tagging"]
	path = infrastructure/terraform/modules/functions/rag-video-tagging
	url = https://github.com/PerfectThymeTech/rag-video-tagging.git
