[submodule "infrastructure/terraform/modules/functions/rag-video-tagging"]
	path = infrastructure/terraform/modules/functions/rag-video-tagging
	url = https://github.com/PerfectThymeTech/rag-video-tagging.git
